/* Sign-Up Form Stylesheet */

@font-face {
    font-family: "Rajdhani Regular";
    src: url("../fonts/rajdhani-regular-webfont.woff2") format('woff2'),
         url("../fonts/rajdhani-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    /* border: solid 1px red; */
    transition: ease 0.2s;
}

body, html, button {
    appearance: none;
    padding: 0;
    margin: 0;
    border: none;
    
    font-family: "Rajdhani Regular", sans-serif;
    font-size: 1.1rem;
    
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: linear-gradient(to right, transparent, 70%, black), url(../images/cheng-feng-psdV2Rl-GvU-unsplash.jpg);
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position-x: center;
}

#yoru-logo {
    position: relative;
    width: 40vh;
    height: 25vh;
    left: 50%;
    transform: translateX(-50%);
}

header {
    position: static;
    height: 10vh;
    width: 100vw;
}

#banner-image {
    float: left;
}

#background-photo-credit {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: flex;
    position: relative;
    justify-content: space-between;
    color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    width: 100%;
    align-items: center;
}

form {
    width: 100%;
    height: 26rem;

    display: flex;
    flex-flow: row wrap;

    justify-content: center;
    align-content: space-between;
    background-color: black;
    color: white;
    letter-spacing: 0.1rem;

    transition: ease 0.25s;
}

.form-row {
    width: 100%;
    min-width: 12rem;
    margin: 1rem 0;
    padding: 0 2rem;
    text-align: center;
}

input {
    border-radius: 0.4rem;
    height: 1.5rem;
}

.splash,
.footer {
    width: 100%;
    height: 7rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), 30%, rgba(0, 0, 0, 0.5));
    text-align: center;
}

.footer > button {
    margin: 0 3rem;
}

button[type="submit"] {
    height: 3rem;
    width: 6rem;

    font-family: "Rajdhani Regular", sans-serif;
    font-size: 1rem;
}

.form-container {
    border-radius: 3px;
}

@media only screen and (min-width: 800px) {
    body {
        flex-direction: row;

        background-position-x: calc(50% - 25vw);
    }
    #yoru-logo {
        position: fixed;
        width: 38vw;
        height: auto;
        top: 30%;
        left: 5vw;
        transform: translateX(0);
    }
    .form-container {
        width: 100%;
    }
    form {
        height: 60vh;
        justify-content: left;
    }
    .form-row {
        width: 40%;
        min-width: 12rem;
        margin-left: 1rem;
        text-align: left;
    }

    #background-photo-credit {
        position: absolute;
        bottom: 3%;
        left: calc(0% + 25vw);
    }
    .splash,
    .footer {
        height: 20vh;
        width: 100%;
        max-height: none;
        background-image: black;
    }
    .footer {
        text-align: left;
    }
}

@media only screen and (min-width: 2000px) {
    body {
        background-size: cover;
    }
}